 #img-detail{
    border-radius: 8%;
    align-content: center; 
    
    
}

#content-detail{
    border: 4px outset rgb(211, 211, 211) ;
    border-radius: 2%; 

}

#list-products-details{
    border:10px double whitesmoke ;
    align-content: center; 
}